<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <title>500</title>
</head>
<body>
<div style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;display: flex;align-items: center;justify-content: center;flex-direction:column;text-align: center">
    <div style="font-weight: bold;font-size: 66px;color: deepskyblue">500</div>
    <div style="font-weight: bold;color: deepskyblue">出错</div>
</div>
</body>
</html>